<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	 <main class="container">
        <p>Hello Welcome to</p>
        <section class="animation">
          <div class="first"><div>Online</div></div>
          <div class="second"><div>Learning</div></div>
          <div class="third"><div>App</div></div>
        </section>
        <section class="buttons"><br><br><br>	
        	<a href="/trainer"><button type="button" class="btn btn-primary ">Trainer</button></a>	
            <a href="/studenthome"><button type="button" class="btn btn-primary ">Student</button></a>
        </section>
      </main>
</body>
</html>