<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>MY COURSES</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
        input[type=text] {
  text-align:centre;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 3px;
  margin-left:30%;
  box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #15AA6D;
  border: none;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  margin: 7px 4px;
  cursor: pointer;
  margin-left: 38%;
}

body{
	background-color: olive;
	
}
    </style>
</head>
<body>
<section class="gradient-custom">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
 <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
<div class="button">

    <h1 style="color:hsl(89%, 28%, 95%); text-align: center;">MY COURSES</h1>
    <div><br>
    <a href="/DemoLesson"><input type="submit" value="COURSE 1" class="btn btn-primary"></a><br><br>
    <a href="/"><input type="submit" value="COURSE 2" class="btn btn-primary"></a><br><br>
 	</div><br>
</div>
    			</div>
    		</div>
    		</div>
		</div>
		</div>
</section>
</body>
</body>
</html>