<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Purchase</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #141313;
  text-align: left;
  padding: 8px;
}

tr:nth-of-type() {
  background-color: #dddddd;
}


</style>
</head>
<body>
	<h2>Purchase Course List</h2>
    <table border="1">
        <tr>
          <th>COURSE NAME</th>
          <th>COURSE PRICE</th>
          <th>LESSONS</th>
        </tr>
        <tr>
          <td>JAVA</td>
          <td>1100</td>
          <td>DATA TYPES ,ARRAYS,COLLECTION</td>
          <td><input type="submit" class="btn btn-primary"  value="Buy Course"></td>
        </tr>
        <tr>
          <td>TESTING </td>
          <td>1200</td>
          <td>MANUAL AND AUTOMATION</td>
          <td><input type="submit" class="btn btn-primary" value="Buy Course"></td>
        </tr>
      </table>
</body>
</html>