<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Trainer</title>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<section>
        <h1>
            <span>W</span>
            <span>E</span>
            <span>L</span>
            <span>C</span>
            <span>O</span>
            <span>M</span>
            <span>E</span>
        </h1>
        <div class="buttons">
            <a href="/createcourse"><button type="button" class="btn btn-primary ">Create Course</button></a><br><br>
            <a href="/addLession"><button type="button" class="btn btn-primary ">Add Lesson</button></a><br><br>
            <a href="/view"><button type="button" class="btn btn-primary">View Course</button></a>
       </div>
       <div><a href="/logout"><button class="btn btn-primary" style="margin-left: 90%; margin-top: -35%;" type="submit" value="logout">Logout</button></a></div><br>
    </section>
    
</body>
</html>